<mat-toolbar style="background-color: blue; color: white;">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a class="nav-link" routerLink="/create">Create Post</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button class="nav-link" (click)="onLogout()">Logout</button>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a class="nav-link" routerLink="/login">Log in</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a class="nav-link" routerLink="/signup">Sign up</a>
    </li>
    
  </ul>
</mat-toolbar>
