<mat-toolbar style="background-color: blue; color: white;">
  <span>
    <a routerLink="/">MyMessages</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <div style="display: flex;" *ngIf="userIsAuthenticated">
        <li>
        <a class="nav-link" routerLink="/create">Create Post</a>
      </li>
      <li>
        <button class="nav-link" (click)="onLogout()">Logout</button>
      </li>
    </div>
    <div style="display: flex;" *ngIf="!userIsAuthenticated">
        <li>
        <a class="nav-link" routerLink="/login">Log in</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/signup">Sign up</a>
      </li>
    </div>
  </ul>
</mat-toolbar>
