.post-card {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  width: 100%;
  max-width: 200px;
}

mat-spinner{
  margin: auto;
}
