<mat-card appearance="outlined" class="post-card">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="savePost()" *ngIf="!isLoading">
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input
        matInput
        type="text"
        name="title"
        formControlName="title"
        >
        <mat-error *ngIf="form.get('title')?.invalid">Please enter a post title</mat-error>
      </mat-form-field>

      <div>
        <button mat-stroked-button (click)="filePicker.click()">Pick Image</button>
        <input type="file" name="" id="" #filePicker (change)="onImage($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image')?.valid">
        <img [src]="imagePreview" [alt]="form.get('title')">
      </div>

      <mat-form-field class="full-width">
        <mat-label>Content</mat-label>
        <textarea
          matInput rows="6"
          name="content"
          formControlName="content"
            ></textarea>
        <mat-error *ngIf="form.get('content')?.invalid">Please enter a post content</mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Add Post</button>
      </div>
    </mat-card-content>
  </form>
</mat-card>
